<div class="mb-3">
    <input type="text" [(ngModel)]="filterText" class="form-control mt-1" id="brandFilterText" placeholder="Marka giriniz.">
</div>

<ul class="list-group">
    <li class="list-group-item bg-warning">Markalar</li>
    <li  *ngFor="let brand of brands | brandFilterPipe:filterText" [class]="getCurrentBrandClass(brand)">
        <button class="btn px-2" (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.brandId}}">
            {{brand.brandName}}
        </button>
        <button class="btn btn-danger" routerLink="brand/update/{{brand.brandId}}">
            U
        </button>
    </li>
</ul>

<h5 *ngIf="currentBrand">Seçiminiz : {{currentBrand.brandName}}</h5>