<div class="container">
    <app-navi></app-navi>
    <div class="row text-center">
        <div class="col-md-3">
            <app-brand></app-brand>
        </div>

        <div class="col-md-9">
            <app-car></app-car>
        </div>

        <div class="col-md-6">
            <app-customer></app-customer>
        </div>
        
        <div class="col-md-6">
            <app-rental></app-rental>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col-8 align-self-center">
            <app-color></app-color>
        </div>
    </div>

</div>


<router-outlet></router-outlet>