<div *ngIf="dataLoaded" class="row">
  <a href="#" class="btn btn-info mb-2">Ana Sayfa</a>
    <div class="card col-4">
        <div class="card-body">
            <h4 class="card-title">Araç Bilgileri</h4>
            <p>Marka : <b>{{car.brandName}}</b></p>
            <p>Model : <b>{{car.description}}</b></p>
            <p>Yılı : <b>{{car.modelYear}}</b></p>
            <p>Renk : <b>{{car.colorName}}</b></p>
            <p>Kira Bedeli : <b>{{car.dailyPrice}} TL</b></p>
            <div class="d-flex justify-content-between">
              <button class="btn btn-success">Kirala</button>
              <button class="btn btn-warning" routerLink="/car/update/{{car.carId}}">Düzenle</button>
            </div>
            
        </div>
    </div>
 
    <div *ngFor="let i of carImage" class="col-8">
      <img style="border-color: black; border: 1px;border-style: solid;" 
      [src]="updateUrl(i.imagePath)" alt="carimage">
      <img style="border-color: black; border: 1px;border-style: solid;" 
      src="https://as2.ftcdn.net/jpg/00/53/45/31/500_F_53453175_hVgYVz0WmvOXPd9CNzaUcwcibiGao3CL.jpg" alt="carimage">
      

    </div>
</div>


